/* .spanIt {
    width: 20px;
    height: 20px;
    border-radius: 50%;
} */

.colGr {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

.colRe {
     display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}